#SongHeading {
    font-size: 50px;
    color: var(--song-section-color);
}

#ArtistHeading {
    font-size: 50px;
    color: var(--artist-card-color);
}

.Song-Artist-Container{
    margin-right: 5%;
    margin-left: 5%;
}