#SongHeading {
    font-size: 50px;
    color: var(--song-card-bg-color);
}

#ArtistHeading {
    font-size: 50px;
    color: var(--artist-card-color);
}

#AlbumHeading {
    font-size: 50px;
    color: var(--album-card-bg-color);
}

.discover-body{
    margin: 5vh;
}

.page-subSection{
    margin: 3vh;
}