.playbar {
    background-color: #484747 !important;
  }
  
  .divider {
    background-color: #312E2E !important;
    height: 3px;
  }
  
  .css-1gzs0su-MuiPaper-root {
    background-color: #484747 !important; 
    color: #484747 !important;
  }