.playbar {
    background-color: var(--playbar-bg) !important;
  }

.playbar label {
  background-color: white;
  color: white;
}
  
  .css-1gzs0su-MuiPaper-root {
    background-color: #484747 !important; 
    color: white !important;
  }

  .playbar-btns{
    color: white;
  }