:root{
    /*main panel*/
    --background-color: #FFFFFF;
    --search-bar-border-color: #4CA3D9;
    --song-card-color: #60DFF0;
    --artist-card-color: #4CD9C3;
    --placeholder-text-color: #898989;

    /*menu*/
    --menu--background-color: #312E2E;
    --menu-open-icon-color: #4CD9C3;
    --menu-close-icon-color: #717171;
    --current-tab-icon-color: #717171;
    --tab1-title-color: #5790F8;
    --tab2-title-color: #4CA3D9;
    --tab3-title-color: #60DFF0;
    --tab4-title-color: #4CD9C3;
    --tab5-title-color: #57F8B1; 
}