.charts_main {
    font-size: 30px;
  }
  
  th {
    height: 30%;
    width: 100vw;
  }
  
  td {
    font-size: 15px;
    text-align:center;
  }

  td > img {
    height: 32px;
    width: 32px;
  }

  td > button {
    height: 32px;
    width: 32px;
  }