.app-card-list {
    float:right;
    margin:10px;
    min-height: 50vh;
    white-space:normal;
    overflow-x: hidden;
    margin-top:-5vh;  
  }
    
  .app-card-list .card {
    margin: 60px 30px;
    display: inline-block;
    font: 5px;
    border: 2px var(--song-card-color) solid ;
    border-radius: 8px;
    width: 27vh;
    padding: 5px;
    color: var(--song-card-color)
  }
  
  .app-card-list .card .card-body {
    white-space: normal;
  }
  
  .card-header {
    color : var(--song-card-color) ; 
    background-color: #484747;
  }
  
  .play_button{
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 20vh;
    color: var(--song-card-color);
  }
  
  .textField {
    border: 2px solid #4CD9C3 !important;
    border-radius: 5px;
  }