/*------------------------------
            FONTS
------------------------------*/

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDDsmdTQ3jw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.app{
  background-color: var(--background-color);
  height: 100%;
}

.main_open {
  margin-left: 4% !important;
}

.main_closed {
  margin-left: 18% !important;
}

.main {
  padding: 0px 10px;
  font-size: 10px;
  color: #60DFF0;
  font-family: Nunito, serif, sans-serif;
  transition: margin-left 0.5s;
  background-color: var(--background-color);
}

.theme_btn {
  font-size: 12px;
  font-family: 'Nunito', serif;
  border: none;
  outline: none;
  color: var(--background-color);
  background-color: var(--navbar--background-color);
}

/*------------------------------
        SCROLLING
------------------------------*/
::-webkit-scrollbar{
    width: 10px;
    background-color: var(--background-color);
}
::-webkit-scrollbar-thumb{
    background-color: #60DFF0;
    border-radius: 20px;
}

/*------------------------------
        ERROR
------------------------------*/
.err {
  text-align: center;
}

.err_margin {
  margin-top: 40vh;
}