.card-new {
  color: var(--song-card-color); 
  background-color: var(--song-card-bg-color);
  border: 5px var(--song-card-border-color) solid ;
  border-radius: 8px;
  font-size: 1.5vh; 
  max-height: 400px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
    
.card-grid .card {
  color: var(--card-color); 
  border-radius: 8px;
  font-size: 1.5vh; 
  max-height: 400px;
  cursor: pointer;
  padding: 5px;
}

#album-card{
  background-color: var(--album-card-bg-color);
}

#album-card:hover{
  box-shadow: inset 0 0 20px gray, 0 0 20px gray;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

#song-card{
  background-color: var(--song-card-bg-color);
}

.card-grid .card .card-body{
  margin: 0;
  padding: 0px 10px;
}

.card-grid .card h2{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin:0;
}

.card-grid .card .card-caption{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

img {
  width: 100%;
  border-radius: 8px;
}

.play_button{
  border: none;
  background-color: transparent;
  color: var(--song-card-color);
}


.artist-photo{
  border-radius: 50%;
  border: 5px var(--artist-card-color) solid;
  max-width: 250px; 
  max-height: 60%;
  vertical-align: top;
}

.artist-photo:hover{
  border: 5px solid;
  box-shadow: inset 0 0 20px gray, 0 0 20px gray;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

.card-grid .artist-card {
  border: 0;
  background: transparent;
  margin: 0px;
  font: 5px;
  color: var(--artist-card-color);
  font-size: 2vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


    
  
  /* @media (max-width: 600px) {
    .app-card-list  {
      grid-template-columns: repeat(2, minmax(1000px, 150px));
      display: grid;
    }
  } */