/*------------------------------
            FONTS
------------------------------*/

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDDsmdTQ3jw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*------------------------------
        SIDE NAV BAR
------------------------------*/

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: Nunito, serif, sans-serif;
  background-color: #312E2E;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.sidenav_open {
  width: 18%;

}

.sidenav_closed {
  width: 4%;
}

.main_open {
  margin-left: 4% !important;
}

.main_closed {
  margin-left: 18% !important;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 36px;
  color: #60DFF0;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #FFFFFF;
}

.sidenav .closebtn {
  position: absolute;
  right: 25px;
  padding: 3px 8px;
  background-color: #60dff0;
  border-radius: 2px;
  border: none;
}

.sidenav_headers {
  list-style-type: none;
  margin: 20px;
}

.main {
  padding: 0px 10px;
  font-size: 10px;
  color: #60DFF0;
  font-family: Nunito, serif, sans-serif;
  background-color: #484747;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 12%px;}
  .sidenav a {font-size: 16px;}
}

/*------------------------------
      SIDE NAV BAR POPUP
------------------------------*/
.sidenav_options {
  font-family: Nunito, serif, sans-serif !important;
  font-size: 15px;
  bottom: 27px;
  position: absolute;
  right: 0px;
}

/* ... Selector */
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  font-family: Nunito, serif, sans-serif !important;
  color: #60DFF0 !important;
  font-weight: 500 !important;
  font-size: 30px !important;
  border: none !important;
  border-width: 0 !important;
  background-color: #312E2E !important;
  letter-spacing: 0.02857em !important;
  padding: 2px 4px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

/* ... Popup Text*/
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    background-color: #211F1F !important;
    color: #60DFF0 !important;
}

/* ... Popup Selector Text*/
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-family: Nunito, serif, sans-serif !important;
  font-size: 12px !important;
}

/*------------------------------
        CHARTS TAB
------------------------------*/
.charts_main {
  font-size: 30px;
}

th {
  height: 30%;
  width: 100vw;
}

td {
  font-size: 15px;
  text-align:center;
}


/*------------------------------
        PLAY BAR
------------------------------*/

.playbar {
  background-color: #484747 !important;
}

.divider {
  background-color: #312E2E !important;
  height: 3px;
}

.css-1gzs0su-MuiPaper-root {
  background-color: #484747 !important; 
  color: #484747 !important;
}

/*------------------------------
        SEARCH BAR
------------------------------*/

/*------------------------------
        CARDS/SONGS
------------------------------*/
.app-card-list {
  float:right;
  margin:10px;
  min-height: 50vh;
  white-space:normal;
  overflow-x: hidden;
  margin-top:-5vh;  
}
  
.app-card-list .card {
  margin: 60px 30px;
  display: inline-block;
  font: 5px;
  border: 2px solid #60DFF0;
  border-radius: 8px;
  width: 27vh;
  padding: 5px;
}

.app-card-list .card .card-body {
  white-space: normal;
}

.card-header {
  color : #4CD9C3; 
  background-color: #484747;
}

.play_button{
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 20vh;
  color: #60DFF0;
}

.textField {
  border: 2px solid #4CD9C3 !important;
  border-radius: 5px;
}
/*------------------------------
        SCROLLING
------------------------------*/
::-webkit-scrollbar{
    width: 10px;
    background-color: #484747;
}
::-webkit-scrollbar-thumb{
    background-color: #60DFF0;
    border-radius: 20px;
}