
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    font-family: Nunito, serif, sans-serif;
    background-color: var(--navbar--background-color);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
  }
  
  .sidenav_open {
    width: 18%;
  
  }
  
  .sidenav_closed {
    width: 4%;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 36px;
    color: #60DFF0;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #FFFFFF;
  }
  
  .sidenav .closebtn {
    position: absolute;
    right: 25px;
    padding: 3px 8px;
    background-color: var(--navbar-close-icon-color);
    border-radius: 2px;
    border: none;
  }

  .toggle {
    position: absolute;
    bottom: 15vh;
    right: 8px;
    background: transparent;
    border: none;
  }
  
  .sidenav_headers {
    list-style-type: none;
    margin: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 12%px;}
    .sidenav a {font-size: 16px;}
  }

  #tab1 {
    color: var(--tab1-title-color);
  }

  #tab2 {
    color: var(--tab2-title-color);
  }

  #tab3 {
    color: var(--tab3-title-color);
  }

  #tab4 {
    color: var(--tab4-title-color);
  }

  #tab5 {
    color: var(--tab5-title-color);
  }
